.clearfix:after {
	clear: both;
	content: "";
	display: block;
}

header {
	text-align: center;
	color: white;
}

.header {
	cursor: pointer;
}

.ui.centered.card {
	max-width: 300px;
	max-height: 300px;
}

.weathertext {
	font-weight: bold;
	font-size: 16px;
	text-align: right;
	margin-right: 5px;
	margin-top: 40px;
}

.cloudRainIcon {
	max-width: 100px;
	max-height: 100px;
	float: left;
	margin-left: 5px;
}

.sunIcon {
	max-width: 100px;
	max-height: 100px;
	margin-left: 5px;
	float: left;
}

.snowflakeIcon {
	width: auto;
	height:auto;
	max-width: 100px;
	max-height: 100px;
	margin-left: 5px;
	float: left;
}

.dressIcon {
	max-width: 100x;
	max-height: 100px;
	margin-left: 5px;
	float: left;
}

.formal {
	font-weight: bold;
	font-size: 16px;
	text-align: right;
	margin-right: 5px;
	margin-top: 30px;
}

.yogaIcon {
	max-width: 100px;
	max-height: 100px;
	margin-left: 5px;
	float: left;
}

.yoga {
	font-weight: bold;
	font-size: 16px;
	text-align: right;
	margin-right: 5px;
	margin-top: 30px;
}

.meetingIcon {
	max-width: 100px;
	max-height: 100px;
	margin-left: 5px;
	float: left;
}

.meeting {
	font-weight: bold;
	font-size: 16px;
	text-align: right;
	margin-right: 5px;
	margin-top: 30px;
}

.gymIcon {
	max-width: 100px;
	max-height: 100px;
	margin-left: 5px;
	float: left;
}

.gym {
	font-weight: bold;
	font-size: 16px;
	text-align: right;
	margin-right: 5px;
	margin-top: 30px;
}

.casual {
	font-weight: bold;
	font-size: 16px;
	text-align: right;
	margin-right: 5px;
	margin-top: 30px;
}

.header {
    cursor: pointer;
    pointer-events: none;

}

.bayBackground {
	background-image: url("../assets/bayBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	opacity: .9;
	min-height: 800px;
}


@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #000;
  border-bottom-color: #000;
  animation: spinner .8s ease infinite;
}
